.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.imglanding {
  /* The image used */
  background-image: url("owl.png");
 background-position: center;
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
}
.breeder {
  color: aliceblue;
}

.footer {
  background-color: #f8f8f8;
  block-size: 10;
  margin-top: auto;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
}
.textfooter {
  text-align: 1px;
  color: azure;
}

.Jumbo {
  text-align: center;
  justify-content: center;
  margin-top: 120px;
  background: none;
  color: white;
}
.jumbo .h1 {
  text-size-adjust: 50px;
}

.App-link {
  color: #61dafb;
}
.home{
  color: white;
}
.home  img{
  width: 50px;
  height: 50px;
}

.warp-modal {

  margin: auto;
  margin-top: 100px;
  max-height: 100vh;
  
  overflow-y: auto;
}


.warp-modal-pet {

  margin: auto;
  margin-left: 230px;
  max-height: 100vh;
  overflow-y: auto;
}


.warp-modal-pet h2 {
font-weight: bold;
padding: 10px;

}
.modal-title{
  height: -100px;
}
.header-modal{
  text-align: center;
  justify-content: center;
  margin: auto;
}

.display-1{

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(71, 71, 71);
}

.overflow-body{
  width: 500px !important;
  overflow: auto !important;

}



#rounded-button{
border: none;
border-radius: 10px;
width:200px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}